@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --morado: rgba(175,60,249,255);
    --rojo: rgba(240,10,96,255);
    --gris: rgba(240,240,240,255);
    --gris-oscuro: rgba(155,155,155,255);
    --fondo: rgba(255,255,255,255);
    --letra: rgba(29,29,27,255);
    --blur: blur(10px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    transition: all .2s linear;
}

div{
    display: block;
}

/*Solo Header*/
header{
    position: absolute;
    top: 0;
    height: 90px;
    background: var(--fondo);
    width: 100%;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    font-weight: 600;
}

header .header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

header .header-cont .home{
    cursor: pointer;
}

header .header-cont .home img{
    width: 150px;
    height: 60px;
}

header .header-cont .perfil img{
    width: 90px;
    height: 90px;
}

header .header-cont .perfil{
    cursor: pointer;
}


/*Bienvenida y Progreso*/
.inicio{
    background: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 5rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .3);
}

.bienvenida-conten{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 100px;
    font-size: 25px;
    line-height: 1.6;
    width: 150px;
}

.bienvenida-conten .bienvenido{
    font-size: 20px;
}

.bienvenida-conten .nombre:hover{
    transform: rotate(8deg);
}

.bienvenida-conten .nombre a{
    text-decoration: none;
    color: var(--rojo);
    margin-left: 15px;
}



.progreso{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
} 

.progreso .titulo-progreso{
    margin-bottom: -5px;
}

.progreso .barra-base{
    transform: scale(.8);
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-180deg, var(--fondo), var(--rojo));
    opacity: .1;
    background-size: cover;
    z-index: -1;
    filter: blur(4px);
}

/*Categorias*/
.categoria-contenedor{
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.categoria-contenedor .titulo{
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
}

.categoria-contenedor .botones{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.categoria-contenedor .botones .boton{
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .3);
    margin: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.categoria-contenedor .botones .boton img{
    height: 10rem;
}

.categoria-contenedor .botones .boton:hover img{
    transform: scale(1.2);
}

.categoria-contenedor .botones .boton button{
    height: 50px;
    width: 150px;
    background-color: var(--letra);
    color: var(--fondo);
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.categoria-contenedor .botones .boton button:hover{
    transform: scale(1.1);
    background: linear-gradient(-135deg, var(--morado), var(--rojo));
    color: var(--fondo);
}

.footer{
    opacity: .8;
    background-color: var(--morado);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    color: var(--fondo);
    width: 100%;
    text-decoration: none;
}

.footer p{
    cursor: pointer;
}

.footer p:hover{
    text-decoration: underline;
}