*{margin:0;padding:0;text-decoration:none}
body{background:#ffffff;}

html.home .body{
    position: relative;
  
}

a{
  align-items: center;
    justify-content: center;
  margin: 0 auto;
}
html.home .titulo {
  text-align: center;
}

html.home .barra {
  text-align: center;
}

html.home .categorias {
  text-align: center;
}

p{
  position: relative;
  top: 90%;
  margin-top: 50px;
  text-align: center;
}
html.home .botones{
text-align: center;
  justify-content: center;
      margin: 0 auto;
    position: relative;

}

