@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --morado: rgba(175,60,249,255);
    --rojo: rgba(240,10,96,255);
    --gris: rgba(240,240,240,255);
    --gris-oscuro: rgba(155,155,155,255);
    --fondo: rgba(255,255,255,255);
    --letra: rgba(29,29,27,255);
    --blur: blur(10px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: var(--fondo);
    color: var(--letra);
    line-height: 1.6;
}

header{
    position: absolute;
    top: 0;
    height: 100px;
    background: white;
    width: 100%;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    font-weight: 600;
}

.logos{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.formulario{
    margin-top: 2rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    width: 50vh;
    height: 335px;
    border-radius: 14px;
}

.formulario .titulo{
    font-size: 90%;
    font-weight: 600;
    text-align: center;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, var(--morado), var(--rojo));
    color: var(--fondo);
}

.formulario form{
    padding: 10px 30px 50px 30px;
}

.formulario form .campo{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.formulario form .campo input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid var(--gris-oscuro);
    transition: all 0.3 ease;
}

.formulario form .campo input:focus,
form .campo input:valid{
    border-color: var(--morado);
}

.formulario form .campo label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--gris-oscuro);
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .campo input:focus ~ label,
form .campo input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: var(--rojo);
    background: var(--fondo);
    transform: translateY(-50%);
}

form .content{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}

form .content input{
    width: 15px;
    height: 15px;
    background: var(--morado);
}

form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

form .content .pass-link{
    color: "";
}

form .campo input[type="submit"]{
    color: var(--fondo);
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, var(--morado), var(--rojo));
    transition: all 0.3s ease;
}

form .campo input[type="submit"]:active{
    transform: scale(0.95);
}

form .pass-link a{
    color: var(--morado);
    text-decoration: none;
}

form .pass-link a:hoover{
    text-decoration: underline;
}

.fondo{
    background-image: url(/Proyecto-Sigaa/imgs/Upb-Estudiantes.jpg);
    position: relative;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    color: var(--morado);
    width: 100%;
}